#about {
  background-image: linear-gradient(#4DA167, #3BC14A);
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
  font-size: 1vw;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  padding-left: 10em;
  padding-right: 10em;
  margin-left: 0%;
  left:0;
  right:0;
  position: absolute;
}

body {
  background-image: url(Assets/pic.jpg);
  margin: 0;
  background-size: cover;
  background-position: top;
  background-image:
        linear-gradient(rgb(105,105,105,0.8), rgb(50,50,50,0.8)),
        url(Assets/pic.jpg);
}

#hero-text {
  padding-left: 70%;
  font-family: "Trebuchet MS", sans-serif;
  margin-top: -20%;
  color: white;
  font-size: 8vw;
  font-weight: bold;
  text-shadow: 3px 3px 2px #000000;

}

#all {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 3vw;
}

#major, #xp, #bar {
  font-family: "Trebuchet MS";
  font-size: 30px;
  margin-top: 1em;
  color: #3BC14A;
  font-weight: bold;
}

#proj {
  margin-bottom: 1em;
  font-family: "Trebuchet MS";
  font-size: 30px;
  color: #3BC14A;
  font-weight: bold;
}

#he {
  font-family: "Trebuchet MS";
  font-size: 30px;
  color: #3BC14A;
  font-weight: bold;
}

#goals {
  padding-top: 20px;
}

#hero {
  justify-content: center;
  width: 100%;
  margin-top: -10%;
  left: 0;
  right: 0;
}

#week2, #week5, #week6, #week7, #week8 {
  font-size: 18px;
  margin-bottom: 1vw;
  padding-bottom: 20px;
  padding-top: 1vw;
  padding-left: 2vw;
  padding-right: 1vw;
  color: white;
  background-color: #4DA167;
  font-family: "Trebuchet MS";
  border-radius: 5px;
}


a {
  color: white;
  text-decoration: none;
}

a:default {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #CFCFCF;
  text-decoration: none;
}

.white {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  color: white;
}

ul {
  font-size: 20px;
}

li {
  padding-top: 10px;
  font-family: Roboto;
  color: white;
  font-weight: 300;
}


#bottom {
  background-image: linear-gradient(#4DA167, #3BC14A);
  margin: 0 auto;
  padding: 40px;
}

#tweet{
  margin-left: 0vw;
  margin-top: 10px;
  margin-bottom: 0px;
}

#ig {
  margin-left: 2vw;
}

#LI {
  margin-left: 2vw;
}


hr {
  border-width: 3px;
  color: #4DA167;
  border-style: solid;
  margin-top: 50px;
}

#me {
  border-style: solid;
  border-width: 10px;
  border-color: #4DA167;
}

#top {
  font-family: "Trebuchet MS";
}

#flex{
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 15em;
  padding-top: 5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 8vw;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  #flex {
    display: block;
  }
}

#flex2{
  display: flex;
  background-color: rgba(255,255,255,0.8);
  left: 0;
  justify-content: center;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-top: 5vw;
  padding-bottom: 5vw;

}

@media screen and (max-width: 850px) {
  #flex2 {
    display: block;
    padding-right: 30vw;

  }

  #proj {
    margin-bottom: 1em;
    font-family: "Trebuchet MS";
    margin-top: 2em;
    font-size: 30px;
    color: #3BC14A;
    font-weight: bold;
  }
}

.flex-item2 {
  justify-content: center;
}

.flex-item {
  margin-right: 10em;
}

.card {
  margin-bottom: 2em;
}

.card-img-top {
  height: 20%;

}

.col1, .col2, .col3, .col4{
  margin-right: 3em;
}


#week8 {
  margin-top: 2em;
}

#bar {
  margin-top: 2em;
}
