#flex{
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 4vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  border-radius: 10px;
}

body {
  background: linear-gradient(
      rgba(139, 232, 159, 0.4),
      rgba(40, 42, 86, 0.4),
      rgba(41, 103, 193, 0.4),
      rgba(157, 232, 93, 0.4)
    );
}

#uno {
  background-color: #8BE89F;
  padding: 130px 60px 20px 60px;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-right: 1vw;
}

#dos {
  background-color: #282A56;
  padding: 130px 60px 20px 60px;
  font-family: 'Roboto', sans-serif;
  margin-right: 1vw;
  color: white;

}

#tres {
  background-color: #2967C1;
  padding: 130px 60px 20px 60px;
  font-family: 'Roboto', sans-serif;
  margin-right: 1vw;
  color: white;
}

#quatro {
  background-color: #9DE85D;
  padding: 130px 60px 20px 60px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#top {
  display: flex;
  justify-content: center;

}

#top2 {
  display: flex;
  justify-content: center;
  margin-top: -3vw;
  font-family: tomarik-introvert, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.75vw;
}

h1  {
  font-size: 50px;
  font-family: tomarik-brush, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#butt{
  display: flex;
  justify-content: center;
  margin-bottom: 10vw;
  margin-top: 5vw;
}

#random {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 6vw;
  padding-right: 6vw;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: solid;
  border-width: 3px;
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
}

#random:hover {
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 6vw;
  padding-right: 6vw;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: solid;
  border-width: 3px;
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
}

.lock {
  margin-top: 2vw;
  margin-left: 2vw;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Roboto', sans-serif;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: -1vw;
  margin-bottom: 1vw;
}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
